{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <!-- Fonts & Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="shortcut icon" href="{% static "images/assets/favicon.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Roboto:wght@500&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      crossorigin="anonymous"
    />

    <title>DIEMS | About Quasars</title>
  </head>
  <body>
    <!-- ========== HEADER & NAVBAR ========== -->
    <header>
      <nav class="navbar">
        <div class="logo">
         <h1><span class="Q">Q</span>uasars</h1>
        </div>
       <div class="navitem-btn">
          <div class="nav-items">
            <ul>
              <li>
                <a href="/" id="nav-home" >Home</a>
              </li>
              <li><a href="/schedule/" id="nav-schedule">Events</a></li>
              <li><a href="/about/" id="nav-about" class="active">About</a></li>
              <li><a href="/contact/" id="nav-contact">Contact</a></li>
            </ul>
            <div class="hamburger" id="hamburger">☰</div>
          </div>
          <div class="button">
            <div class="btn-1">
              <button><a href="/login/">Login</a></button>
            </div>
            <div class="btn-2">
              <button><a href="/signup/">Register</a></button>
            </div>
            <div class="btn-5">
              <button onclick="toggleTheme()" id="themeToggle">
                <i class="fa-solid fa-moon"></i>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="about">
        <h1>About Quasars</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing eli <br />
          Voluptatibus illo omnis nesciunt et voluptates accusamus non
          reprehenderit quia praesentium expedita!
        </p>
      </div>

      <div class="about-main">
        <div class="about-img">
          <video autoplay muted loop playsinline poster="{% static "assets/about-poster.png" %}"> 
            <source src="{% static "videos/aboutQuasar.mp4" %}" type="video/mp4" />
          </video>
        </div>

        <div class="about-text">
          <h2>QUASARS 2025</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
            perferendis cupiditate, esse nisi maiores quisquam optio ipsum
            adipisci ullam nesciunt dolorem error quod, architecto fugiat
            repellat. Repellendus voluptates distinctio alias molestiae. Dolore
            similique voluptas exercitationem a repellendus? Repellat commodi
            iste dolorum quidem provident aliquam, magnam explicabo impedit
            pariatur odio sint! Nisi, illo! Aliquid, magni assumenda delectus
            fugiat at facere saepe ut iure a dolores suscipit atque iste totam
            reiciendis optio soluta dignissimos dolorum, natus distinctio
            provident, itaque repellat! Repellat impedit debitis alias sed
            accusantium dolores veritatis eum aperiam, dignissimos quos
            voluptate maxime cum voluptas expedita, id rem. Repellendus, tempore
            voluptate.
          </p>
        </div>
      </div>

        <div class="coev">
          <h1>Quasar Event Co-Ordinaters</h1>
          <div class="event-coordinator">
            <div class="co-1"></div>
            <div class="co-1"></div>
            <div class="co-1"></div>
            <div class="co-1"></div>
          </div>
        </div>
    </main>

  
    <!-- ========== FOOTER SECTION ========== -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-about">
          <h3>About Fest</h3>
          <p>
            Our college fest is a celebration of talent, creativity, and
            community. Join us for a vibrant experience filled with music, art,
            tech, and fun!
          </p>
        </div>
        <div class="footer-links">
          <h3>Quick Links</h3>
          <ul>
         <li><a href="https://www.instagram.com/quasars_2k25?utm_source=ig_web_button_share_sheet&igsh=ODdmZWVhMTFiMw=="><i class="fa-brands fa-instagram social"></i> Instagram</a></li>
            <li><a href="https://youtube.com/@deogiriinstituteofengineer4233?si=00H_zHWYy-AHhexo"><i class="fa-brands fa-youtube social"></i> YouTube</a></li>
          </ul>
        </div>
        <div class="footer-contact">
          <h3>Contact Us</h3>
          <p>Email: quasars@dietms.org</p>
          <p>Phone: +91-9876543210</p>
          <p>Location: DIEMS, Aurangabad</p>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-left">
          <p>&copy; 2025 Quasars@DIEMS. All rights reserved.</p>
        </div>
        <div class="footer-contact-dev">
          <p>
            Designed & Developed By
            <span class="footer-txt">Ashish Rathi</span>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
