{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DIEMS | QUASARS</title>

    <!-- Fonts & Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="shortcut icon" href="{% static "assets/favicon.png" %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Roboto:wght@500&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- ========== HEADER & NAVBAR ========== -->
    <header>
      <nav class="navbar">
        <div class="logo">
          <h1><span class="Q">Q</span>uasars</h1>
        </div>
        <div class="navitem-btn">
          <div class="nav-items">
            <ul>
              <li>
                <a href="/" id="nav-home" class="active">Home</a>
              </li>
              <li><a href="/schedule/" id="nav-schedule">Events</a></li>
              <li><a href="/about/" id="nav-about">About</a></li>
              <li><a href="/contact/" id="nav-contact">Contact</a></li>
            </ul>
            <div class="hamburger" id="hamburger">☰</div>
          </div>
          <div class="button">
            <div class="btn-1">
              <button><a href="/login/">Login</a></button>
            </div>
            <div class="btn-2">
              <button><a href="/signup/">Register</a></button>
            </div>
            <div class="btn-5">
              <button onclick="toggleTheme()" id="themeToggle">
                <i class="fa-solid fa-moon"></i>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- ========== HERO SECTION ========== -->
    <main class="hero">
      <div class="c-1"></div>
      <div class="c-2"></div>
      <div class="c-3"></div>

      <div class="hero-1">
        <h1>
          WELCOME TO <span>QUASARS</span><br />
          DIEMS
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut,
          corrupti?<br />
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
      </div>

      <div class="button-1">
        <div class="btn-3">
          <button><a href="/schedule/">Explore Events</a></button>
        </div>
        <div class="btn-4">
          <button>
            <a href="/signup/">Register Yourself</a>
          </button>
        </div>
      </div>

      <!-- ========== PROMO VIDEO SECTION ========== -->
      <div class="img">
        <video
          autoplay
          muted
          loop
          playsinline
          poster="{% static 'images/assets/Club Event Calendar.png' %}"
        >
          <source
            src="{% static 'videos/Untitled video - Made with Clipchamp.mp4' %}"
            type="video/mp4"
          />
        </video>
      </div>

     
      <!-- ========== how it works SECTION ========== -->
      <section class="how-it-works">
        <h2 class="hiw-heading">How It Works</h2>
        <div class="hiw-steps">
          <div class="hiw-step">
            <i class="fas fa-user-plus hiw-icon"></i>
            <h3>Step 1</h3>
            <p>Login or Register</p>
          </div>
          <div class="hiw-step">
            <i class="fas fa-calendar-alt hiw-icon"></i>
            <h3>Step 2</h3>
            <p>Browse Events</p>
          </div>
          <div class="hiw-step">
            <i class="fas fa-edit hiw-icon"></i>
            <h3>Step 3</h3>
            <p>Register for Events</p>
          </div>
          <div class="hiw-step">
            <i class="fas fa-bell hiw-icon"></i>
            <h3>Step 4</h3>
            <p>Get Updates & Reminders</p>
          </div>
        </div>
      </section>

      <!-- ========== UPCOMING EVENTS SECTION ========== -->
      <section class="events-section">
        <h1 class="event-h1">Upcoming Events</h1>
        <div class="events">
          <div class="event-cards">
            <img src="{% static 'images/scheduleImages/event3.jpg' %}" />
            <h3>Short Film</h3>
            <p>Date: March 20, 2025</p>
            <p>Time: 4:00 PM</p>
            <button class="register-btn">Register</button>
          </div>
          <div class="event-cards">
            <img src="{% static 'images/scheduleImages/event4.jpg' %}" />
            <h3>Photography</h3>
            <p>Date: March 22, 2025</p>
            <p>Time: 2:00 PM</p>
            <button class="register-btn">Register</button>
          </div>
          <div class="event-cards">
            <img src="{% static 'images/scheduleImages/event5.jpg' %}" />
            <h3>Antakshari</h3>
            <p>Date: March 25, 2025</p>
            <p>Time: 10:00 AM</p>
            <button class="register-btn">Register</button>
          </div>
        </div>
        <h2 class="event-h2">
          <a href="schedule.html"
            >Explore more events <i class="fa-solid fa-arrow-right-long"></i
          ></a>
        </h2>
      </section>

      <!-- ========== GALLERY SECTION ========== -->
      <div class="gsection">
        <div class="gallery-h1">
          <h1>Glimpses of the Celebration</h1>
        </div>

        <div class="slider">
          <button id="prev" class="slider-btn">
            <i class="fa-solid fa-circle-chevron-left"></i>
          </button>
          <div class="card-content">
            <!-- Image cards -->
            <div class="card">
              <div class="card-img">
                <img src="{% static 'images/assets/download (1).png' %}" alt="" />
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="{% static 'images/assets/download.png' %}" alt="" />
              </div>
            </div>
            <div class="card">
              <div class="card-img"><img src="{% static 'images/assets/hq720.png' %}" alt="" /></div>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="{% static 'images/assets/images-1.png' %}" alt="" />
              </div>
            </div>
            <div class="card">
              <div class="card-img"><img src="{% static 'images/assets/images.png' %}" alt="" /></div>
            </div>
            <div class="card">
              <div class="card-img"><img src="{% static 'images/assets/hq720.png' %}" alt="" /></div>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="{% static 'images/assets/download.png' %}" alt="" />
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="{% static "images/assets/download (1).png" %}" alt="" />
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="{% static "images/assets/images-1.png" %}" alt="" />
              </div>
            </div>
            <div class="card">
              <div class="card-img"><img src="{% static "images/assets/images.png" %}" alt="" /></div>
            </div>
          </div>
          <button id="next" class="slider-btn">
            <i class="fa-solid fa-circle-chevron-right"></i>
          </button>
        </div>
      </div>

      <div class="ftline">
        <h1>
          <span class="highlight">Stay ahead, stay informed</span><br />
          because every event deserves your
          <span class="emphasis">presence</span>, not your
          <span class="warn">confusion</span>
        </h1>
      </div>
    </main>

    <!-- ========== FOOTER SECTION ========== -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-about">
          <h3>About Fest</h3>
          <p>
            Our college fest is a celebration of talent, creativity, and
            community. Join us for a vibrant experience filled with music, art,
            tech, and fun!
          </p>
        </div>
        <div class="footer-links">
          <h3>Quick Links</h3>
          <ul>
            <li>
              <a
                href="https://www.instagram.com/quasars_2k25?utm_source=ig_web_button_share_sheet&igsh=ODdmZWVhMTFiMw=="
                ><i class="fa-brands fa-instagram social"></i> Instagram</a
              >
            </li>
            <li>
              <a
                href="https://youtube.com/@deogiriinstituteofengineer4233?si=00H_zHWYy-AHhexo"
                ><i class="fa-brands fa-youtube social"></i> YouTube</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-contact">
          <h3>Contact Us</h3>
          <p>Email: quasars@dietms.org</p>
          <p>Phone: +91-9876543210</p>
          <p>Location: DIEMS, Aurangabad</p>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-left">
          <p>&copy; 2025 Quasars@DIEMS. All rights reserved.</p>
        </div>
      </div>
    </footer>

    <!-- ========== SCRIPTS ========== -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
