{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>
<body>
    <header><div>
        <h1>Notifications</h1><span><img src="" alt="not icon"></span>
        </div>
    </header>
    <main>
        <div>
            <ul>
                <li>
                    Add notification here i.e message!
                </li>
                <li>

                </li>
                <li>
                    
                </li>
            </ul>
        </div>
    </main>
</body>
</html>